<!-- Introduction -->
<div *ngIf="subTopic=='Introduction'">
  <p>
    Android operating system is a stack of software components which is roughly divided into five sections and four main layers as shown below in the architecture diagram.
  </p>
  <img src="../assets/imgs/androidArchitecture.jpg">

  <h2>Linux kernel</h2>
  <p>
    At the bottom of the layers is Linux - Linux 3.6 with approximately 115 patches. This provides a level of abstraction between the device hardware and it contains all the essential hardware drivers like camera, keypad, display etc. Also, the kernel handles all the things that Linux is really good at such as networking and a vast array of device drivers, which take the pain out of interfacing to peripheral hardware.
  </p>
</div>
<!-- Introduction Done -->

<!-- Hybrid Mobile Application Architecture -->
<div *ngIf="subTopic=='Hybrid Mobile Application Architecture'">
  <p>
    Android operating system is a stack of software components which is roughly divided into five sections and four main layers as shown below in the architecture diagram.
  </p>
  <img src="../assets/imgs/androidArchitecture.jpg">

  <h2>Linux kernel</h2>
  <p>
    At the bottom of the layers is Linux - Linux 3.6 with approximately 115 patches. This provides a level of abstraction between the device hardware and it contains all the essential hardware drivers like camera, keypad, display etc. Also, the kernel handles all the things that Linux is really good at such as networking and a vast array of device drivers, which take the pain out of interfacing to peripheral hardware.
  </p>
</div>
<!-- Hybrid Mobile Application Architecture Done -->

<!--Hybrid Mobile Application Development Tools-->
<div *ngIf="subTopic=='Hybrid Mobile Application Development Tools'">
  <p>
    Android operating system is a stack of software components which is roughly divided into five sections and four main layers as shown below in the architecture diagram.
  </p>
  <img src="../assets/imgs/androidArchitecture.jpg">

  <h2>Linux kernel</h2>
  <p>
    At the bottom of the layers is Linux - Linux 3.6 with approximately 115 patches. This provides a level of abstraction between the device hardware and it contains all the essential hardware drivers like camera, keypad, display etc. Also, the kernel handles all the things that Linux is really good at such as networking and a vast array of device drivers, which take the pain out of interfacing to peripheral hardware.
  </p>
</div>
<!-- Hybrid Mobile Application Development Tools Done -->

<!--RestFull Webservices to Fetch/Send Data-->
<div *ngIf="subTopic=='RestFull Webservices to Fetch/Send Data'">
  <p>
    Android operating system is a stack of software components which is roughly divided into five sections and four main layers as shown below in the architecture diagram.
  </p>
  <img src="../assets/imgs/androidArchitecture.jpg">

  <h2>Linux kernel</h2>
  <p>
    At the bottom of the layers is Linux - Linux 3.6 with approximately 115 patches. This provides a level of abstraction between the device hardware and it contains all the essential hardware drivers like camera, keypad, display etc. Also, the kernel handles all the things that Linux is really good at such as networking and a vast array of device drivers, which take the pain out of interfacing to peripheral hardware.
  </p>
</div>
<!-- RestFull Webservices to Fetch/Send Data Done -->

<!--Sample Ionic Mobile Application-->
<div *ngIf="subTopic=='Sample Ionic Mobile Application'">
  <p>
    Android operating system is a stack of software components which is roughly divided into five sections and four main layers as shown below in the architecture diagram.
  </p>
  <img src="../assets/imgs/androidArchitecture.jpg">

  <h2>Linux kernel</h2>
  <p>
    At the bottom of the layers is Linux - Linux 3.6 with approximately 115 patches. This provides a level of abstraction between the device hardware and it contains all the essential hardware drivers like camera, keypad, display etc. Also, the kernel handles all the things that Linux is really good at such as networking and a vast array of device drivers, which take the pain out of interfacing to peripheral hardware.
  </p>
</div>
<!-- Sample Ionic Mobile Application Done -->

